body * {
  transition: all 0.3s;
}

header {
  z-index: 900;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header nav {
}
header nav .gnb {
  display: flex;
  margin-left: 70px;
}
header nav .gnb li {
  margin-right: 52px;
}
header nav .gnb li:last-child {
  margin-right: 0;
}
header nav .gnb li.active > button {
  color: #004030;
}
header nav .gnb li > button {
  font-size: 1.375rem;
  color: #dcd0a8;
}
header > p {
  font-size: 1.375rem;
  font-weight: 600;
  margin-right: 66px;
  color: #004030;
}
