#total_wrap {
}
#total_wrap > .swiper-wrapper {
  width: 100%;
  height: 100vh;
}

.main {
  height: 100vh;
  background: url(../images/main.jpg) center / cover;
}

.profile,
.webdesign,
.graphicdesign {
  background: url(../images/main_bg.jpg) center / cover;
}

.profile {
  padding-top: 150px;
}
.profile .wrap {
  width: max-content;
  margin: 0 auto;
}
.profile .wrap .contents {
}
.profile .wrap > p {
  font-size: 1.75rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #004030;
  margin-bottom: 72px;
}
.profile .wrap > p em::after {
  content: "";
  display: block;
  width: 471px;
  height: 39px;
  background: #004030;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.profile .wrap > p em {
  font-weight: 500;
  letter-spacing: 0;
  color: #fff9e5;
  position: relative;
  z-index: 1;
}
.profile .wrap .contents {
  display: flex;
}
.profile .wrap .contents .left_wrap {
  display: flex;
  align-items: start;
}
.profile .wrap .contents .left_wrap .picture {
  margin-right: 66px;
}
.profile .wrap .contents .left_wrap .picture p:nth-child(1) {
  margin: 0 0 6px 56px;
  width: 210px;
}
.profile .wrap .contents .left_wrap .picture p:nth-child(1) > img {
  width: 100%;
  border-radius: 8px;
  border: 3px solid #004030;
}
.profile .wrap .contents .left_wrap .picture p:nth-child(2) {
  font-size: 0.75rem;
  margin-left: 56px;
  color: #004030;
}
.about {
  margin-top: 48px;
}
.profile_com h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #004030;
  margin-bottom: 12px;
}
.profile_com > ul {
}
.profile_com > ul > li {
  display: flex;
  margin-bottom: 12px;
}
.profile_com > ul > li:last-child {
  margin-bottom: 0;
}
.profile_com > ul > li h3 {
  width: 80px;
  line-height: 1.2;
  font-size: 1.125rem;
  font-weight: 600;
  color: #4a9782;
}
.profile_com > ul > li p {
  width: 255px;
  line-height: 1.2;
  font-size: 1.125rem;
  color: #004030;
}
.about a {
  width: 255px;
  line-height: 1.2;
  font-size: 1.125rem;
  color: #004030;
}
.profile .wrap .contents .mid_wrap {
  margin-left: 80px;
}
.profile .wrap .contents .mid_wrap .education {
}
.profile .wrap .contents .mid_wrap .education .edu {
  margin-bottom: 30px;
}
.profile .wrap .contents .right_wrap {
  margin-left: 80px;
}
.skills .skill_li {
  display: flex;
}
.skills .skill_li > li {
  width: 60px;
  margin: 0 12px 24px 0;
  display: flex;
  flex-flow: column nowrap;
}
.skills .skill_li > li:last-child {
  margin: 0 0 12px 0;
}
.skills .skill_li > li > img {
  width: 60px;
  height: 60px;
  margin-bottom: 6px;
}
.skills .skill_li > li .skill_bar {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #ddd;
  position: relative;
}
.skills .skill_li > li .skill_bar::after {
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #4a9782;
  border-radius: 2px;
}

.li1 > li:nth-child(1) .skill_bar::after {
  width: 70%;
}
.li1 > li:nth-child(2) .skill_bar::after {
  width: 80%;
}
.li1 > li:nth-child(3) .skill_bar::after {
  width: 50%;
}
.li1 > li:nth-child(4) .skill_bar::after {
  width: 50%;
}
.li1 > li:nth-child(5) .skill_bar::after {
  width: 50%;
}

.li2 > li:nth-child(1) .skill_bar::after {
  width: 80%;
}
.li2 > li:nth-child(2) .skill_bar::after {
  width: 80%;
}
.li2 > li:nth-child(3) .skill_bar::after {
  width: 70%;
}
.li2 > li:nth-child(4) .skill_bar::after {
  width: 40%;
}

.li3 > li:nth-child(1) .skill_bar::after {
  width: 80%;
}
.li3 > li:nth-child(2) .skill_bar::after {
  width: 70%;
}
.li3 > li:nth-child(3) .skill_bar::after {
  width: 80%;
}

.li4 > li:nth-child(1) .skill_bar::after {
  width: 30%;
}

.webdesign {
  padding-top: 150px;
  position: relative;
}
.webdesign .web_slide {
  width: 1688px;
  border: 1px solid #004030;
}
.webdesign .slide_bg {
  width: 1688px;
  height: 675px;
  background: #fff9e5;
  border: 1px solid #004030;
  position: absolute;
  z-index: -4;
  left: 49%;
  top: 170px;
  transform: translateX(-50%);
}
.webdesign .web_slide .swiper-wrapper {
}
.webdesign .web_slide .swiper-wrapper .swiper-slide {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: #fff9e5;
}
.webdesign .web_slide .swiper-wrapper .swiper-slide .title {
  width: 448px;
  height: 115px;
  position: relative;
  z-index: -4;
  margin: 22px 0 31px 40px;
}
.webdesign .web_slide .swiper-wrapper .swiper-slide .title p {
  position: absolute;
  left: 0;
  top: 0;
}
.webdesign .web_slide .swiper-wrapper .swiper-slide .title p > img {
}
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.webdesign .web_slide .swiper-wrapper .swiper-slide .title h2 {
  position: absolute;
  z-index: 4;
  width: max-content;
  left: 50%;
  top: 45px;
  transform: translateX(-51%);
  font-family: "BookkMyungjo-Bd";
  font-size: 1.6rem;
  color: #fff9e5;
}
.webdesign .web_slide .swiper-wrapper .swiper-slide .bottom_container {
  display: flex;
  padding: 0 0 77px 100px;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .thumnail {
  width: 898px;
  height: 430px;
  background: #aaa;
  margin-right: 60px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #004030;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .thumnail
  > img {
  width: 100%;
  position: relative;
  transform: translateY(-10%);
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_contents {
  align-self: center;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li {
  display: flex;
  margin-bottom: 18px;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li:last-child {
  margin-bottom: 0;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li
  h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #004030;
  width: 102px;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li
  p {
  font-size: 1.125rem;
  color: #004030;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li.responsive {
  display: block;
  margin-top: 35px;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li.responsive
  div {
  display: flex;
  margin-top: 20px;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li.responsive
  div
  p {
  width: 138px;
  padding: 6px 0;
  text-align: center;
  border-bottom: 1px solid #004030;
  margin-right: 16px;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .slide_li
  > li.responsive
  div
  p:last-child {
  margin-right: 0;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .btn_wrap {
  margin-top: 74px;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .btn_wrap
  > a {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 6px 18px;
  border-radius: 2px;
  border: 1px solid #004030;
  background: #fff9e5;
  margin-right: 24px;
  color: #004030;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .btn_wrap
  > a:hover {
  background: #004030;
  color: #fff9e5;
}
.webdesign
  .web_slide
  .swiper-wrapper
  .swiper-slide
  .bottom_container
  .btn_wrap
  > a:last-child {
  margin-right: 0;
}
.webdesign .web_slide .swiper-button-prev {
  width: 24px;
  height: 24px;
  background: url(../images/icon_arrow.png) center / cover;
  bottom: 10px;
  left: 10px;
  right: auto;
  top: auto;
}
.webdesign .web_slide .swiper-button-next {
  width: 24px;
  height: 24px;
  background: url(../images/icon_arrow.png) center / cover;
  bottom: 10px;
  right: 10px;
  left: auto;
  top: auto;
  transform: scaleX(-1);
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.graphicdesign {
  padding-top: 150px;
}
.graphicdesign .graphic_container {
  position: relative;
}
.graphicdesign .graphic_container .left_container {
}
.graphicdesign .graphic_container .left_container .graphic_title {
  width: 448px;
  height: 115px;
  position: relative;
  margin: 0 0 40px 160px;
}
.graphicdesign .graphic_container .left_container .graphic_title p {
  position: absolute;
  left: 0;
  top: 0;
}
.graphicdesign .graphic_container .left_container .graphic_title p > img {
}
.graphicdesign .graphic_container .left_container .graphic_title h2 {
  position: absolute;
  z-index: 4;
  width: max-content;
  left: 50%;
  top: 45px;
  transform: translateX(-50%);
  font-family: "BookkMyungjo-Bd";
  font-size: 1.6rem;
  color: #fff9e5;
}
.graphicdesign .graphic_container .left_container .design_wrap {
  border: 1px solid #004030;
  background: #fff9e5;
  width: 60%;
  height: 500px;
  margin-left: 160px;
  padding: 20px;
  border-radius: 12px;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .banner_container {
  margin-bottom: 20px;
  width: 100%;
  height: 140px;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .banner_container
  .swiper-wrapper {
  width: 420px;
  transition-timing-function: linear;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .banner_container
  .swiper-wrapper
  .swiper-slide {
  margin-right: 10px;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .banner_container
  .swiper-wrapper
  .swiper-slide
  > img {
  width: 100%;
  transform-origin: center center;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .poster_container {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .poster_container
  .swiper-wrapper {
  width: 225px;
  transition-timing-function: linear;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .poster_container
  .swiper-wrapper
  .swiper-slide {
  margin-right: 10px;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .poster_container
  .swiper-wrapper
  .swiper-slide
  > img {
  width: 100%;
  transform-origin: center center;
}
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .poster_container
  .swiper-wrapper
  .swiper-slide
  img:hover,
.graphicdesign
  .graphic_container
  .left_container
  .design_wrap
  .banner_container
  .swiper-wrapper
  .swiper-slide
  img:hover {
  transform: rotate(4deg);
}

.graphicdesign .graphic_container .long_design {
  border: 1px solid #004030;
  background: #fff9e5;
  width: 380px;
  height: 640px;
  position: absolute;
  right: 160px;
  bottom: 0;
  border-radius: 12px;
}
.graphicdesign .graphic_container .long_design .swiper-wrapper {
}
.graphicdesign .graphic_container .long_design .swiper-wrapper .swiper-slide {
}
.graphicdesign
  .graphic_container
  .long_design
  .swiper-wrapper
  .swiper-slide
  > img {
  width: 100%;
  transform-origin: center center;
}
.graphicdesign
  .graphic_container
  .long_design
  .swiper-wrapper
  .swiper-slide
  > img:hover {
  width: 100%;
  transform: rotate(4deg);
}
.thanks {
  background: #004030;
  padding-top: 35vh;
}
.thanks .thanks_wrap {
  margin: 0 auto;
}
.thanks .thanks_wrap h2 {
  font-family: "BookkMyungjo-Bd";
  font-size: 3rem;
  color: #fff9e5;
  text-align: center;
  margin-bottom: 20px;
}
.thanks .thanks_wrap p {
  font-size: 1.25rem;
  font-weight: 200;
  color: #fff9e5;
  text-align: center;
}
.thanks .thanks_wrap p:nth-child(3) {
  margin-top: 40px;
}
.thanks .thanks_wrap p:nth-child(3) > img {
  width: 160px;
  border-radius: 20px;
}
.thanks .thanks_wrap p:nth-child(4) {
  margin-top: 40px;
  font-size: 0.75rem;
}

/* 팝업 */
.popup_bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}
.popup_bg .contents {
  width: 700px;
  height: 90vh;
  overflow: auto;
  margin: 0 auto;
  display: flex; align-items: center;
}
.popup_bg .contents > img {
  width: 100%;
}
